<?xml version="1.0" ?>
<robot name="jdcobot200_urdf">

  <mujoco>
    <compiler meshdir="assets/" strippath="false" fusestatic="false"/>
  </mujoco>

  <!-- Materials -->
  <material name="3d_printed">
    <color rgba="1.0 0.82 0.12 1.0"/>
  </material>
  <material name="sts3215">
    <color rgba="0.1 0.1 0.1 1.0"/>
  </material>

  <link name="base_assembly">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.350"/>
      <inertia ixx="3e-04" ixy="0" ixz="0" iyy="3e-04" iyz="0" izz="5e-04"/>
    </inertial>
    <visual>
      <origin xyz="0.0125 0 0.05" rpy="0 0 0"/>
      <geometry>
        <mesh filename="base_top.stl"/>
      </geometry>
      <material name="base_top_material">
        <color rgba="0.627451 0.627451 0.627451 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0125 0 0.05" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="base_top.stl"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0.0125 0 0.0351" rpy="-0 0 -3.14159"/>
      <geometry>
        <mesh filename="ac1.stl"/>
      </geometry>
      <material name="ac1_material">
        <color rgba="0.960784 0.960784 0.964706 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0125 0 0.0351" rpy="-0 0 -3.14159"/>
      <geometry>
        <mesh filename="ac1.stl"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="base_plate.stl"/>
      </geometry>
      <material name="base_plate_material">
        <color rgba="0.627451 0.627451 0.627451 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="base_plate.stl"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0.0125 0 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="base_link.stl"/>
      </geometry>
      <material name="base_link_material">
        <color rgba="0.627451 0.627451 0.627451 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0125 0 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="base_link.stl"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0.0125 0 0.0339" rpy="0 -0 3.14159"/>
      <geometry>
        <mesh filename="main.stl"/>
      </geometry>
      <material name="main_material">
        <color rgba="0.247059 0.247059 0.247059 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0125 0 0.0339" rpy="0 -0 3.14159"/>
      <geometry>
        <mesh filename="main.stl"/>
      </geometry>
    </collision>
  </link>

  <link name="shoulder_assmebly">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.150"/>
      <inertia ixx="1e-04" ixy="0" ixz="0" iyy="1e-04" iyz="0" izz="1e-04"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="base_joint.stl"/>
      </geometry>
      <material name="base_joint_material">
        <color rgba="0.627451 0.627451 0.627451 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="base_joint.stl"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0.00015 0 0.04896" rpy="0 -1.5708 0"/>
      <geometry>
        <mesh filename="main.stl"/>
      </geometry>
      <material name="main_2_material">
        <color rgba="0.247059 0.247059 0.247059 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.00015 0 0.04896" rpy="0 -1.5708 0"/>
      <geometry>
        <mesh filename="main.stl"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0.00075 0 0.04896" rpy="0 1.5708 0"/>
      <geometry>
        <mesh filename="ac2.stl"/>
      </geometry>
      <material name="ac2_material">
        <color rgba="0.960784 0.960784 0.964706 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.00075 0 0.04896" rpy="0 1.5708 0"/>
      <geometry>
        <mesh filename="ac2.stl"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0.0193" rpy="0 0 0"/>
      <geometry>
        <mesh filename="shoulder_link.stl"/>
      </geometry>
      <material name="shoulder_link_material">
        <color rgba="0.627451 0.627451 0.627451 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0.0193" rpy="0 0 0"/>
      <geometry>
        <mesh filename="shoulder_link.stl"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0.0002 -0 -0.04896" rpy="-3.14159 1.5708 0"/>
      <geometry>
        <mesh filename="ac1.stl"/>
      </geometry>
      <material name="ac1_2_material">
        <color rgba="0.960784 0.960784 0.964706 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0002 -0 -0.04896" rpy="-3.14159 1.5708 0"/>
      <geometry>
        <mesh filename="ac1.stl"/>
      </geometry>
    </collision>
  </link>

  <link name="arm_link_assembly">
    <inertial>
      <origin xyz="0.05 0 0" rpy="0 0 0"/>
      <mass value="0.120"/>
      <inertia ixx="5e-05" ixy="0" ixz="0" iyy="1e-04" iyz="0" izz="1e-04"/>
    </inertial>
    <visual>
      <origin xyz="0.1227 -8.02902e-05 -0.000296447" rpy="0 0 1.5708"/>
      <geometry>
        <mesh filename="ac1.stl"/>
      </geometry>
      <material name="ac1_3_material">
        <color rgba="0.960784 0.960784 0.964706 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.1227 -8.02902e-05 -0.000296447" rpy="-0 0 0"/>
      <geometry>
        <mesh filename="ac1.stl"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0.1227 -8.02902e-05 -0.000246447" rpy="-0 0 0"/>
      <geometry>
        <mesh filename="main.stl"/>
      </geometry>
      <material name="main_3_material">
        <color rgba="0.247059 0.247059 0.247059 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.1227 -8.02902e-05 -0.000246447" rpy="-0 0 0"/>
      <geometry>
        <mesh filename="main.stl"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0.053 -0.012 -9.64466e-05" rpy="-1.5708 -0 0"/>
      <geometry>
        <mesh filename="arm_link.stl"/>
      </geometry>
      <material name="arm_link_material">
        <color rgba="0.627451 0.627451 0.627451 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.053 -0.012 -9.64466e-05" rpy="-1.5708 -0 0"/>
      <geometry>
        <mesh filename="arm_link.stl"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0.1227 -8.02902e-05 -0.000846447" rpy="-0 0 0"/>
      <geometry>
        <mesh filename="ac2.stl"/>
      </geometry>
      <material name="ac2_2_material">
        <color rgba="0.960784 0.960784 0.964706 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.1227 -8.02902e-05 -0.000846447" rpy="-0 0 0"/>
      <geometry>
        <mesh filename="ac2.stl"/>
      </geometry>
    </collision>
  </link>

  <link name="arm_link_assembly_2">
    <inertial>
      <origin xyz="0.05 0 0" rpy="0 0 0"/>
      <mass value="0.120"/>
      <inertia ixx="5e-05" ixy="0" ixz="0" iyy="1e-04" iyz="0" izz="1e-04"/>
    </inertial>
    <visual>
      <origin xyz="0.1227 -8.02902e-05 3.44557e-05" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="ac1.stl"/>
      </geometry>
      <material name="ac1_4_material">
        <color rgba="0.960784 0.960784 0.964706 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.1227 -8.02902e-05 3.44557e-05" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="ac1.stl"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0.1227 -8.02902e-05 8.44557e-05" rpy="-0 -0 0"/>
      <geometry>
        <mesh filename="main.stl"/>
      </geometry>
      <material name="main_4_material">
        <color rgba="0.247059 0.247059 0.247059 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.1227 -8.02902e-05 8.44557e-05" rpy="-0 -0 0"/>
      <geometry>
        <mesh filename="main.stl"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0.053 -0.012 0.000234456" rpy="-1.5708 -0 0"/>
      <geometry>
        <mesh filename="arm_link.stl"/>
      </geometry>
      <material name="arm_link_2_material">
        <color rgba="0.627451 0.627451 0.627451 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.053 -0.012 0.000234456" rpy="-1.5708 -0 0"/>
      <geometry>
        <mesh filename="arm_link.stl"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0.1227 -8.02902e-05 -0.000515544" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="ac2.stl"/>
      </geometry>
      <material name="ac2_3_material">
        <color rgba="0.960784 0.960784 0.964706 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.1227 -8.02902e-05 -0.000515544" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="ac2.stl"/>
      </geometry>
    </collision>
  </link>

  <link name="wrist_assembly">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.080"/>
      <inertia ixx="3e-05" ixy="0" ixz="0" iyy="3e-05" iyz="0" izz="3e-05"/>
    </inertial>
    <visual>
      <origin xyz="0.0389 0.00681535 -0.0104786" rpy="-1.5708 -0.994135 -1.5708"/>
      <geometry>
        <mesh filename="ac1.stl"/>
      </geometry>
      <material name="ac1_5_material">
        <color rgba="0.960784 0.960784 0.964706 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0389 0.00681535 -0.0104786" rpy="-1.5708 -0.994135 -1.5708"/>
      <geometry>
        <mesh filename="ac1.stl"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0.055 -0.012 0" rpy="-1.5708 -0 0"/>
      <geometry>
        <mesh filename="wrist_link___recovered.stl"/>
      </geometry>
      <material name="wrist_link___recovered_material">
        <color rgba="0.627451 0.627451 0.627451 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.055 -0.012 0" rpy="-1.5708 -0 0"/>
      <geometry>
        <mesh filename="wrist_link___recovered.stl"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0.0392 0 -0.0125" rpy="-3.14159 -1.5708 0"/>
      <geometry>
        <mesh filename="main.stl"/>
      </geometry>
      <material name="main_5_material">
        <color rgba="0.247059 0.247059 0.247059 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0392 0 -0.0125" rpy="-3.14159 -1.5708 0"/>
      <geometry>
        <mesh filename="main.stl"/>
      </geometry>
    </collision>
  </link>

  <link name="gripper_assembly">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.080"/>
      <inertia ixx="3e-05" ixy="0" ixz="0" iyy="3e-05" iyz="0" izz="3e-05"/>
    </inertial>
    <visual>
      <origin xyz="-0.0109248 0.0149298 -0.0300671" rpy="1.5708 -0 0.631718"/>
      <geometry>
        <mesh filename="gripper_base.stl"/>
      </geometry>
      <material name="gripper_base_material">
        <color rgba="0.627451 0.627451 0.627451 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0109248 0.0149298 -0.0300671" rpy="1.5708 -0 0.631718"/>
      <geometry>
        <mesh filename="gripper_base.stl"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0.000413372 -0.00056491 -0.0300671" rpy="-1.5708 0 -2.50987"/>
      <geometry>
        <mesh filename="main.stl"/>
      </geometry>
      <material name="main_6_material">
        <color rgba="0.247059 0.247059 0.247059 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.000413372 -0.00056491 -0.0300671" rpy="-1.5708 0 -2.50987"/>
      <geometry>
        <mesh filename="main.stl"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0.000236213 -0.000322806 -0.0300671" rpy="-1.5708 0 -2.50987"/>
      <geometry>
        <mesh filename="ac1.stl"/>
      </geometry>
      <material name="ac1_6_material">
        <color rgba="0.960784 0.960784 0.964706 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.000236213 -0.000322806 -0.0300671" rpy="-1.5708 0 -2.50987"/>
      <geometry>
        <mesh filename="ac1.stl"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="5.90532e-05 -8.07014e-05 -0.0300671" rpy="-1.5708 0 -2.50987"/>
      <geometry>
        <mesh filename="ac2.stl"/>
      </geometry>
      <material name="ac2_4_material">
        <color rgba="0.960784 0.960784 0.964706 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="5.90532e-05 -8.07014e-05 -0.0300671" rpy="-1.5708 0 -2.50987"/>
      <geometry>
        <mesh filename="ac2.stl"/>
      </geometry>
    </collision>
  </link>

  <link name="gripper_left_assembly">
    <inertial>
      <origin xyz="0 0 0.02" rpy="0 0 0"/>
      <mass value="0.015"/>
      <inertia ixx="5e-06" ixy="0" ixz="0" iyy="5e-06" iyz="0" izz="2e-06"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0.0453" rpy="-3.14159 -0 0"/>
      <geometry>
        <mesh filename="gripper_left.stl"/>
      </geometry>
      <material name="gripper_left_material">
        <color rgba="0.627451 0.627451 0.627451 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0.0453" rpy="-3.14159 -0 0"/>
      <geometry>
        <mesh filename="gripper_left.stl"/>
      </geometry>
    </collision>
  </link>

  <joint name="gripper_left" type="revolute">
    <origin xyz="0.00133856 -0.0245467 -0.0309825" rpy="1.5708 0 -2.50987"/>
    <parent link="gripper_assembly"/>
    <child link="gripper_left_assembly"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-3.141592653589793" upper="3.141592653589793"/>
  </joint>

  <link name="gripper_right_assembly">
    <inertial>
      <origin xyz="0 0 0.02" rpy="0 0 0"/>
      <mass value="0.015"/>
      <inertia ixx="5e-06" ixy="0" ixz="0" iyy="5e-06" iyz="0" izz="2e-06"/>
    </inertial>
    <visual>
      <origin xyz="0 -0 0.051019" rpy="-3.14159 0 3.14159"/>
      <geometry>
        <mesh filename="gripper_right.stl"/>
      </geometry>
      <material name="gripper_right_material">
        <color rgba="0.627451 0.627451 0.627451 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 -0 0.051019" rpy="-3.14159 0 3.14159"/>
      <geometry>
        <mesh filename="gripper_right.stl"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0.0509419 -0 0" rpy="-0 0 0"/>
      <geometry>
        <mesh filename="gripper_right_part.stl"/>
      </geometry>
      <material name="gripper_right_part_material">
        <color rgba="0.627451 0.627451 0.627451 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0509419 -0 0" rpy="-0 0 0"/>
      <geometry>
        <mesh filename="gripper_right_part.stl"/>
      </geometry>
    </collision>
  </link>

  <joint name="gripper_right" type="revolute">
    <origin xyz="0.0270171 -0.0105891 -0.0300671" rpy="-1.5708 -0 0.631718"/>
    <parent link="gripper_assembly"/>
    <child link="gripper_right_assembly"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-3.141592653589793" upper="3.141592653589793"/>
  </joint>

  <joint name="wrist_roll" type="revolute">
    <origin xyz="0.0575 0 -0" rpy="1.5708 -0.994135 -1.5708"/>
    <parent link="wrist_assembly"/>
    <child link="gripper_assembly"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-3.141592653589793" upper="3.141592653589793"/>
  </joint>

  <joint name="wrist_pitch" type="revolute">
    <origin xyz="0.1352 -8.02902e-05 -0.000365544" rpy="3.14159 -0 0"/>
    <parent link="arm_link_assembly_2"/>
    <child link="wrist_assembly"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-3.141592653589793" upper="3.141592653589793"/>
  </joint>

  <joint name="elbow" type="revolute">
    <origin xyz="0.1352 -8.02902e-05 -0.000696447" rpy="-0 0 0"/>
    <parent link="arm_link_assembly"/>
    <child link="arm_link_assembly_2"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-3.141592653589793" upper="3.141592653589793"/>
  </joint>

  <joint name="shoulder" type="revolute">
    <origin xyz="0.0006 0 0.06146" rpy="1.5708 -1.5708 1.5708"/>
    <parent link="shoulder_assmebly"/>
    <child link="arm_link_assembly"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-3.141592653589793" upper="3.141592653589793"/>
  </joint>

  <joint name="base" type="revolute">
    <origin xyz="0 0 0.0537" rpy="0 0 0"/>
    <parent link="base_assembly"/>
    <child link="shoulder_assmebly"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-3.141592653589793" upper="3.141592653589793"/>
  </joint>
</robot>